/* Reset default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: 'Norse Bold', sans-serif;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

button {
	display: flex;
	flex-direction: row;
	padding: 7px 9px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #4caf50;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px, rgb(0 0 0 / 23%) 0px 0px 6px;
}

:root {
	--primary-color: #1d8cf8;
	--primary-color-hover: #3f99f2;
	--primary-color-active: #007dfa;
	--bg-color: #1e1e2f;
	--component-color: #27293d;
	--text-color: #ffffff;
}
.nav {
	position: relative;
	display: flex;
	height: 72px;
	align-items: center;
	flex-direction: row;
	box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px, rgb(0 0 0 / 23%) 0px 0px 6px;
}

.nav .logo,
.auth {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 50%;
	height: 100%;
	padding: 0px 27px;
}

.nav .logo {
	justify-content: flex-start;
}

.nav .logo a {
	font-size: 36px;
	font-weight: bolder;
}

.nav .auth {
	justify-content: flex-end;
}

.nav .auth button {
	margin-left: 15px;
}

.nav .auth button:hover {
	background-color: #3e8e41;
}

.nav .auth button:active {
	background-color: #2c6829;
}

/* Component styles */
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3%;
}
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.card {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	background-color: #f1f1f1;
}
.card h3 {
	margin-top: 0;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	background: gainsboro;
}
form label {
	margin-bottom: 5px;
}
form input[type='text'] {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid black;
}
form button[type='submit'] {
	padding: 5px 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.todo-list {
	margin-top: 20px;
}
